.App-header{
  background-color: rgb(136, 237, 122);
  display: flex;
  justify-content: space-between;
}

.sign{
  color: white;
  margin: 30px;
  font-size: 20px;
  font-weight: 900;
}

.make{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
  flex-grow: 0.1;
}

a:hover{
  color: aqua;
}